@font-face {
    font-family: Montserrat-Bold;
    src: url("../fonts/Montserrat-Bold.otf");
}
@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.otf");
}
p, input, div, label, span, button {
    font-family: Montserrat,sans-serif;
}
h1, h2, h3, h4, h5, strong {
    font-family: Montserrat-Bold,sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
tbody{
    text-align: center;
}
ion-icon {
    font-size: 26px;
  }

.clickable :hover{
    background-color: #999;
    cursor: pointer;
}

.buttonCloseTable{
    position: absolute;
    top: 0%;
    left: calc(100% - 26px);
    cursor: pointer;
}
.buttonGreen {
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #276051;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
    padding: .5em;
  }


.buttonGreen:hover {background-color: #0C231E}

.buttonGreen:active {
  background-color: #285C4D;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

.row {
    display: flex;
  }
  
/* Create two equal columns that sits next to each other */
.column1 {
flex: 30%;
}
.column2 {
    flex: 70%;
    }

.cnpc{
    max-width: 80%;
    height: auto;
    max-height: 5em;
    margin-top: 1rem;
}

.sketchDisabled:hover{
    background-color: unset !important;
    color:rgba(110,110,110,0.4) !important;
    cursor: wait !important;
    outline: unset !important;
}

.guinda {
    background-color: #9D2449 !important;
}
.verde-oscuro {
    background-color: #0C231E !important;
}
.dorado {
    color: #B38E5D !important;
}

#dataSection{
    background: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    padding: .5em;
    top: 70px;
    z-index: 1;
    overflow: auto;
    float: right;
    height: calc(100vh - 70px) !important;
    width: 15%;
}

#botonTop {
    display: none;
    position: fixed;
    bottom: 40%;
    right: 15px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}
  
#botonTop:hover {
    background-color: #9d2449;
}

#map-container{
    height: calc(100vh - 70px) !important;
    width: 85%;
    position: absolute !important;
}
#stormSelection {
    background:#fff;
    border-radius:5px;
    box-sizing:border-box;
    left:10px;
    padding:.5em;
    position:absolute;
    top:10px;
    z-index:1
}
#stormSelection2 {
    background:#fff;
    border-radius:5px;
    box-sizing:border-box;
    left:260px;
    padding:.5em;
    position:absolute;
    top:10px;
    z-index:1
}

#analisis{
    background:#fff;
    border-radius:5px;
    box-sizing:border-box;
    bottom: 0%;
    width: 100%;
    padding:.5em;
    position:absolute;
    z-index:1;
    overflow-y: auto;
    max-height: 50%;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: .5em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.collapsible.active {
    background-color: #9D2449;
}
.collapsible:hover, .collapsible.active:hover {
    background-color: #555;
}
  
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

li.activo > *:nth-child(n+2) {
    font-size: 0.7rem;
}
li.pasado {
    color: gray;
}
li.activo {
    cursor: context-menu;
}
li.siguiente {
    color: lightgray;
}
li.siguiente:hover {
    color: unset;
    cursor: context-menu;
}
li.pasado:hover {
    color: #800040;
    cursor: pointer;
}
li.pasado > *:nth-child(n+2) {
    font-size: 0.7rem;
}
ol {
    padding-left: 15px;
}

optgroup[label="Atlántico"] {
    background-color: aquamarine;
}

optgroup[label="Pacífico"] {
    background-color: mediumaquamarine;
}
.loading-gif {
    position: absolute;
    right: 60px;
    top: 72px;
}
.loading-gif img {
    width: 25px;
    height: 25px;
}
#timeDiv {
    position: absolute;
    bottom: 15px;
    left: 15px;
    background-color: white;
    z-index: 1;
}
#refugiosDiv {
    position: absolute;
    bottom: 95px;
    left: 15px;
    z-index: 1;
}
#refugiosDiv .refugios-iconos {
    display: grid; 
    grid-template-columns: 20% 80%; 
    text-align:center; 
    padding: 4px 0 0 3px; 
    background-color:white; 
    width: 84px;
}
#refugiosDiv .refugios-titulo {
    margin: 0;
    padding-top: 5px;
    text-align: center;

}
.switch {
    position: relative;
    display: inline-block;
    width: 2.3rem;
    height: 1.3rem;
}

/* Hide default HTML checkbox */
#nubes-checkbox, #nubes-checkbox2, #refugios-checkbox, #vientos-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 0.8rem;
    width: 0.8rem;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

#nubes-checkbox:checked + .slider, #nubes-checkbox2:checked +.slider, #refugios-checkbox:checked + .slider, #vientos-checkbox:checked + .slider {
    background-color: #9D2449;
}

#nubes-checkbox:focus + .slider, #nubes-checkbox2:focus + .slider, #refugios-checkbox:focus + .slider, #vientos-checkbox:focus + .slider {
    box-shadow: 0 0 1px #9D2449;
}

#nubes-checkbox:checked + .slider:before, #nubes-checkbox2:checked +.slider:before, #refugios-checkbox:checked +.slider:before, #vientos-checkbox:checked +.slider:before {
    -webkit-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    transform: translateX(1rem);
}

/* Rounded sliders */
.slider.round {
    border-radius: 1.3rem;
}

.slider.round:before {
    border-radius: 50%;
}
#stormLabel {
    display: none;
    text-align: center;
    background-color: teal;
    color: white;
}

.cnpc-logos {
    bottom:10px;
    right:10px;
    position:absolute;
    max-width: 50%;
}
.cnpc-logos img {
    height:2em;
}
.tabla-datos {
    background-color:teal;
    color: white;
    margin-bottom: 0.3rem;
}
.tabla-datos thead tr td {
    background-color: whitesmoke;
    color: #9D2449;
}
.tabla-datos td {
    border: 1px solid white;
}
.tabla-datos tr:nth-child(2n){
    background-color: whitesmoke;
    color: black;
}
.a-datos {
    background-color: #9D2449;
    color: white;
    padding: 0.2rem;
}

@media(max-width: 500px) {
    #timeDiv{
        display:none;
    }
    #titleDesktop{
        display:none;
    }
    #titleMobile{
        display: block !important;
    }
    #gridOpciones{
        width: 100% !important;
        display: grid !important;
        grid-template-columns: 33% 33% 34% !important;
        height: 40px !important;
    }
    #clouds-div{
        display: grid !important;
    }
    #mensaje{
        display:none;
    }
    #dataSection{
        position: unset;
        width: 100%;
        display: block;
        overflow: unset;
        height:unset !important;
        float: unset;
    }
    #map-container{
        width: 100%;
        height: calc(90vh - 70px) !important;
        position: relative;
    }
    #stormSelection, #stormSelection2 {
        background:#fff;
        border-radius:5px;
        box-sizing:border-box;
        left:10px;
        padding:.5em;
        position:unset;
        top:unset;
        z-index:1;
    }
    #timeDiv {
        position: unset;
        background-color: teal;
        color: white;
    }
    #refugiosDiv {
        position: unset;
        background-color: teal;
        color: white;
        padding: 0 5px;
    }
    #refugiosDiv .refugios-iconos {
        display: grid;
        grid-template-columns: 20% 80%;
        text-align:center;
        padding: 3px;
        width: 100%;
        background-color: teal;
    }
    #refugiosDiv .refugios-titulo {
        margin: 0;
        padding-top: 5px;
        text-align: center;
    
    }
    #refugios-select {
        padding: 0 5px;
    }
    #stormLabel {
        display: block;
    }
    .cnpc-logos {
        bottom: 7px;
        right: unset;
        left: 7px;
        max-width: 50%;
    }
    #analisis{
        bottom: calc(-50%);
    }
}